*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  color-scheme: dark;
}
* {
  -ms-overflow-style: none; /* For Internet Explorer and older Edge */
  scrollbar-width: none; /* For Firefox */
}

*::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome, Safari */
}